body {
  margin: 0 auto;
  
}

#root{
  background-color: #121212;
}
.active_link{
  border-bottom: 5px solid red;
  border-radius: 5px;
}
.MuiSvgIcon-root{
  color: white;
  font-size: 50px !important;
}
.MuiSvgIcon-root:hover{
  color: red;
}