.play {
  margin-top: 40px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 60vh;
  /* background-color: aqua !important; */
}
.play > * {
  /* border: 1px solid plum; */
  border-radius: 3px;
}
.play :hover {
  box-shadow: 2px 4px 6px red;
}
